<legend>{{ text_contact_page }}</legend>



<legend class="sub">{{ text_contact_contacts }}</legend>

{# Rows #}
{% set matrix_rows = [
    {'key': 'main_address',  'label': entry_main_address},
    {'key': 'directions',    'label': entry_directions},
    {'key': 'working_hours', 'label': entry_working_hours},    
    {'key': 'main_phone',    'label': entry_main_phone},
    {'key': 'main_email',    'label': entry_main_email},        
    {'key': 'callback',      'label': entry_callback},
    {'key': 'max',           'label': entry_max},    
    {'key': 'whatsapp',      'label': entry_whatsapp},
    {'key': 'telegram',      'label': entry_telegram},
    {'key': 'vkontakte',     'label': entry_vkontakte},
    {'key': 'instagram',     'label': entry_instagram},
    {'key': 'tiktok',        'label': entry_tiktok},
    {'key': 'avito',         'label': entry_avito}
] %}

{# Columns: where to show #}
{% set matrix_columns = [
    {'key': 'contact_xs',  'label': text_show_xs},
    {'key': 'contact_md',  'label': text_show_md},
    {'key': 'contact_lg',  'label': text_show_lg},
    {'key': 'contact_xl',  'label': text_show_xl}
] %}

<table class="table table-bordered__ matrix-table">
    <thead>
        <tr>
            <th></th>
            {% for col in matrix_columns %}
                <th class="text-center">{{ col.label }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for row in matrix_rows %}
            <tr>
                <th scope="row">{{ row.label }}</th>

                {% for col in matrix_columns %}
                    {% set setting_key = row.key ~ '_' ~ col.key %}
                    {% set setting_value = attribute(_context, setting_key)|default(0) %}

                    <td class="text-center">
                        <input type="hidden" name="settings[oxyo][{{ setting_key }}]" value="0" />
                        <input type="checkbox" name="settings[oxyo][{{ setting_key }}]" value="1" {% if setting_value %}checked="checked"{% endif %} />
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>



<div>
	<legend class="sub">{{ text_contact_custom_block }}</legend>
    <br />

	<ul class="nav nav-tabs language-tabs">
		{% for language in languages %}
            <li>
                <a href="#contact-block-language{{ language.language_id }}" data-toggle="tab">
                    <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/>
                    {{ language.name }}
                </a>
            </li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for language in languages %}
            <div class="tab-pane" id="contact-block-language{{ language.language_id }}">
                <div>{{ text_contact_custom_block_tooltip }}</div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ entry_heading }}</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="settings[oxyo][contact_block_title][{{ language.language_id }}]" value="{{ contact_block_title[language.language_id] ? contact_block_title[language.language_id] }}" />
                    </div>
                </div>

                <div>
                    <a class="editor-toggle btn btn-primary" id="enable-editor-contact-block-{{ language.language_id }}" onclick="enable_editor('contact-block','{{ language.language_id }}')">{{ text_enable_editor }}</a>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea id="editor-textarea-contact-block-{{ language.language_id }}" name="settings[oxyo][contact_block][{{ language.language_id }}]" class="form-control code">{{ contact_block[language.language_id] ? contact_block[language.language_id] }}</textarea>
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>
</div>



<legend class="sub">{{ text_contact_form }}</legend>
<div class="form-field new-form-group radio-switcher">
	<p class="radio-switcher-title">
        <span class="title">{{entry_form_status}}</span>
    </p>
	<div class="form-radio-switcher-wrapper">
		<label class="label-switcher label-switcher-pre" for="contact_form_0">{{ text_off }}</label>
		<div class="form-radio form-radio-inline form-radio-switcher">
            <input type="radio" name="settings[oxyo][contact_form]" value="0" {% if contact_form == '0' %} checked="checked" {% endif %} id="contact_form_0" />
            <input type="radio" name="settings[oxyo][contact_form]" value="1" {% if contact_form == '1' %} checked="checked" {% endif %} id="contact_form_1" />
		</div>
		<label class="label-switcher label-switcher-post" for="contact_form_1">{{ text_on }}</label>
	</div>
</div>

<div class="form-group new-form-group">
    <label class="new-title">{{ entry_agree_title }}</label>
    <select name="settings[oxyo][contact_agree_status]" class="form-control">
        <option value="0">{{ text_disabled }}</option>
        {% for information in informations %}
            {% if information.information_id == contact_agree_status %}
                <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
            {% else %}
                <option value="{{ information.information_id }}">{{ information.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>



<legend class="sub">{{ text_contact_map }}</legend>
<div class="form-group new-form-group">
    <label class="new-title">{{ entry_map_layout }}</label>
    <select name="settings[oxyo][oxyo_map_style]" class="form-control">
        <option value="0"{% if oxyo_map_style == '0' %} selected="selected"{% endif %}>{{ text_disabled }}</option>
        <option value="full_width"{% if oxyo_map_style == 'full_width' %} selected="selected"{% endif %}>{{ text_full_width }}</option>
        <option value="inline"{% if oxyo_map_style == 'inline' %} selected="selected"{% endif %}>{{ text_boxed }}</option>
    </select>
</div>    

<!-- Hidden block -->
<div class="form-group d-none hidden">
    <label class="col-sm-2 control-label">{{ entry_location_latitude }}</label>
    <div class="col-sm-10">
        <input class="form-control" name="settings[oxyo][oxyo_map_lat]" value="{{ oxyo_map_lat ? oxyo_map_lat }}" />
    </div>
</div>

<div class="form-group d-none hidden">
    <label class="col-sm-2 control-label">{{ entry_location_longitude }}</label>
    <div class="col-sm-10">
        <input class="form-control" name="settings[oxyo][oxyo_map_lon]" value="{{ oxyo_map_lon ? oxyo_map_lon }}" />
    </div>
</div>

<div class="form-group d-none hidden">
    <label class="col-sm-2 control-label">{{ entry_map_api_key }}</label>
    <div class="col-sm-10">
        <input class="form-control" name="settings[oxyo][oxyo_map_api]" value="{{ oxyo_map_api ? oxyo_map_api }}" />
    </div>
</div>
<!-- End hidden block -->

<div class="form-group new-form-group">
    <label class="new-title">{{ entry_yandex_map }}</label>
    <input class="form-control" name="settings[oxyo][oxyo_yandex_map]" value="{{ oxyo_yandex_map ? oxyo_yandex_map }}" />
</div>
<br />
<div class="col-sm-offset-1">
    <div class="bs-callout bs-callout-info bs-callout-sm d-none hidden">
        <h4>{{ text_how_find_latlon }}</h4>
        <p>{{ text_step_1 }} <a href="http://maps.google.com/" target="_blank">http://maps.google.com/</a></p>
        <p>{{ text_step_2 }}</p>
        <p>{{ text_step_3 }}</p>

        <h4>{{ text_how_get_api_key }}</h4>
        <p>{{ text_api_instruction }} <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">https://developers.google.com/maps/documentation/javascript/get-api-key</a></p>
    </div>
    <div class="bs-callout bs-callout-info bs-callout-sm">
        <h4>{{ text_how_use_yandex_map }}</h4>
        <p>{{ text_yandex_map_instruction }}</p>
    </div>
</div>


<div class="form-group new-form-group">
    <label class="new-title">{{ entry_yandex_scheme }}</label>
    <input class="form-control" name="settings[oxyo][oxyo_yandex_scheme]" value="{{ oxyo_yandex_scheme ? oxyo_yandex_scheme }}" />
</div>
<br />
<div class="col-sm-offset-1">
    <div class="bs-callout bs-callout-info bs-callout-sm">
        <h4>{{ text_how_use_yandex_scheme }}</h4>
        <p>{{ text_yandex_scheme_instruction }}</p>
    </div>
</div>