<legend>{{ text_header_styling }}</legend>

<div class="form-group d-none hidden">
	<label class="col-sm-2 control-label">{{ entry_header_alternative }}</label>
	<div class="col-sm-10">
		<select id="header-select" name="settings[oxyo][oxyo_header]" class="form-control">
			<option value="header1" {% if oxyo_header == 'header1' %} selected="selected" {% endif %}>{{ text_header_1 }}</option>
			<option value="header2" {% if oxyo_header == 'header2' %} selected="selected" {% endif %}>{{ text_header_2 }}</option>
			<option value="header3" {% if oxyo_header == 'header3' %} selected="selected" {% endif %}>{{ text_header_3 }}</option>
			<option value="header4" {% if oxyo_header == 'header4' %} selected="selected" {% endif %}>{{ text_header_4 }}</option>
			<option value="header5" {% if oxyo_header == 'header5' %} selected="selected" {% endif %}>{{ text_header_5 }}</option>
			<option value="header6" {% if oxyo_header == 'header6' %} selected="selected" {% endif %}>{{ text_header_6 }}</option>
		</select>
		<div id="header-preview" class="preview-holder">
			<img src="view/javascript/oxyo/img/theme-panel/headers/{{ oxyo_header }}.png" />
		</div>
	</div>
</div>

<legend class="sub d-none hidden">{{ text_top_line }}</legend>

<div class="form-group d-none hidden">
	<label class="col-sm-2 control-label">{{ entry_top_line_status }}</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][top_line_style]" value="0" {% if top_line_style == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][top_line_style]" value="1" {% if top_line_style == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>

<div class="form-group d-none hidden">
	<label class="col-sm-2 control-label">{{ entry_top_line_width }}</label>
	<div class="col-sm-10">
		<select name="settings[oxyo][top_line_width]" class="form-control">
			<option value="full-width" {% if top_line_width == 'full-width' %} selected="selected" {% endif %}>{{ text_full_width }}</option>
			<option value="boxed" {% if top_line_width == 'boxed' %} selected="selected" {% endif %}>{{ text_boxed }}</option>
		</select>
	</div>
</div>

<div class="form-group d-none hidden">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_top_line_height }}">{{ entry_top_line_height }}</span></label>
	<div class="col-sm-10"><input class="form-control" name="settings[oxyo][top_line_height]" value="{{ top_line_height ? top_line_height : '41' }}" /></div>
</div>

<legend class="sub">{{ text_main_header_area }}</legend>

<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_main_area_width }}</label>
	<div class="col-sm-10">
		<select name="settings[oxyo][main_header_width]" class="form-control">
			<option value="full-width" {% if main_header_width == 'full-width' %} selected="selected" {% endif %}>{{ text_full_width }}</option>
			<option value="boxed" {% if main_header_width == 'boxed' %} selected="selected" {% endif %}>{{ text_boxed }}</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"><br/><span data-toggle="tooltip" title="{{ help_main_header_height }}">{{ entry_main_header_height }}</span></label>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-4">
				<label>{{ text_desktop_view }}</label>
				<input class="form-control" name="settings[oxyo][main_header_height]" value="{{ main_header_height ? main_header_height : '104' }}" />
			</div>
			<div class="col-sm-4">
				<label>{{ text_mobile_view }}</label>
				<input class="form-control" name="settings[oxyo][main_header_height_mobile]" value="{{ main_header_height_mobile ? main_header_height_mobile : '70' }}" />
			</div>
			<div class="col-sm-4">
				<label>{{ text_sticky_header }}</label>
				<input class="form-control" name="settings[oxyo][main_header_height_sticky]" value="{{ main_header_height_sticky ? main_header_height_sticky : '70' }}" />
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_sticky_header }}">{{ text_sticky_header }}</span></label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][oxyo_sticky_header]" value="0" {% if oxyo_sticky_header == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][oxyo_sticky_header]" value="1" {% if oxyo_sticky_header == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_homepage_overlay_header }}">{{ entry_homepage_overlay_header }}</span></label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][oxyo_home_overlay_header]" value="0" {% if oxyo_home_overlay_header == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][oxyo_home_overlay_header]" value="1" {% if oxyo_home_overlay_header == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>



<legend class="sub">{{ text_header_contacts }}</legend>

{# Rows #}
{% set matrix_rows = [
    {'key': 'main_phone',    'label': entry_main_phone},
    {'key': 'max',           'label': entry_max},
    {'key': 'whatsapp',      'label': entry_whatsapp},  
    {'key': 'telegram',      'label': entry_telegram},
    {'key': 'vkontakte',     'label': entry_vkontakte},
    {'key': 'callback',      'label': entry_callback},
    {'key': 'main_email',    'label': entry_main_email},
    {'key': 'instagram',     'label': entry_instagram},
    {'key': 'tiktok',        'label': entry_tiktok},
    {'key': 'avito',         'label': entry_avito}
] %}

{# Columns: where to show #}
{% set matrix_columns = [
    {'key': 'header_xs',  'label': text_show_xs},
    {'key': 'header_md',  'label': text_show_md},
    {'key': 'header_lg',  'label': text_show_lg},
    {'key': 'header_xl',  'label': text_show_xl}
] %}

<table class="table table-bordered__ matrix-table">
    <thead>
        <tr>
            <th></th>
            {% for col in matrix_columns %}
                <th class="text-center">{{ col.label }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for row in matrix_rows %}
            <tr>
                <th scope="row">{{ row.label }}</th>

                {% for col in matrix_columns %}
                    {% set setting_key = row.key ~ '_' ~ col.key %}
                    {% set setting_value = attribute(_context, setting_key)|default(0) %}

                    <td class="text-center">
                        <input type="hidden" name="settings[oxyo][{{ setting_key }}]" value="0" />
                        <input type="checkbox" name="settings[oxyo][{{ setting_key }}]" value="1" {% if setting_value %}checked="checked"{% endif %} />
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>



<legend class="sub">{{ text_logo }}</legend>
<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_logo_max_width }}">{{ entry_logo_max_width }}</span></label>
	<div class="col-sm-10"><input class="form-control" name="settings[oxyo][logo_maxwidth]" value="{{ logo_maxwidth ? logo_maxwidth : '250' }}" /></div>
</div>

<legend class="sub">{{ text_menu_area }}</legend>
<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_menu_alignment }}">{{ entry_menu_alignment }}</span></label>
	<div class="col-sm-10">
		<select name="settings[oxyo][main_menu_align]" class="form-control">
			<option value="menu-aligned-left" {% if main_menu_align == 'menu-aligned-left' %} selected="selected" {% endif %}>{{ text_align_left }}</option>
			<option value="menu-aligned-center" {% if main_menu_align == 'menu-aligned-center' %} selected="selected" {% endif %}>{{ text_align_center }}</option>
			<option value="menu-aligned-right" {% if main_menu_align == 'menu-aligned-right' %} selected="selected" {% endif %}>{{ text_align_right }}</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"><br/><span data-toggle="tooltip" title="{{ help_menu_area_height }}">{{ entry_menu_area_height }}</span></label>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-4">
				<label>{{ text_default }}</label>
				<input class="form-control" name="settings[oxyo][menu_height_normal]" value="{{ menu_height_normal ? menu_height_normal : '50' }}" />
			</div>
			<div class="col-sm-4">
				<label>{{ text_sticky_header }}</label>
				<input class="form-control" name="settings[oxyo][menu_height_sticky]" value="{{ menu_height_sticky ? menu_height_sticky : '70' }}" />
			</div>
		</div>
	</div>
</div>

<legend class="sub">{{ text_header_general }}</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_login_register_status }}</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][header_login]" value="0" {% if header_login == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][header_login]" value="1" {% if header_login == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_header_search_status }}</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][header_search]" value="0" {% if header_search == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][header_search]" value="1" {% if header_search == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>

<legend>{{ text_menu_management }}</legend>

<div class="col-sm-offset-2">
	<div class="bs-callout bs-callout-info bs-callout-sm">
		<h4>{{ text_how_manage_menus }}</h4>
		<p>{{ text_menu_management_intro }}</p>
		<p>{{ text_menu_management_primary_sec }}</p>
		<p>{{ text_menu_management_sources }}</p>
		<p>{{ text_menu_management_mobile }}</p>
	</div>
</div>

<legend class="sub">{{ text_main_menus }}</legend>

<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_primary_menu }}">{{ entry_primary_menu }}</span></label>
	<div class="col-sm-10">
		<select name="settings[oxyo][primary_menu]" class="form-control">
			<option value="0" {% if primary_menu == '0' %} selected="selected" {% endif %}>{{ text_none }}</option>
			<option value="oc" {% if primary_menu == 'oc' %} selected="selected" {% endif %}>{{ text_default_oc_category_menu }}</option>
			{% for menu_module in menu_modules %}
				<option value="{{ menu_module.module_id }}" {% if primary_menu == menu_module.module_id %} selected="selected" {% endif %}>{{ text_oxyo_megamenu_prefix }} {{ menu_module.name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_secondary_menu }}">{{ entry_secondary_menu }}</span></label>
	<div class="col-sm-10">
		<select name="settings[oxyo][secondary_menu]" class="form-control">
			<option value="0" {% if secondary_menu == '0' %} selected="selected" {% endif %}>{{ text_none }}</option>
			<option value="oc" {% if secondary_menu == 'oc' %} selected="selected" {% endif %}>{{ text_default_oc_category_menu }}</option>
			{% for menu_module in menu_modules %}
				<option value="{{ menu_module.module_id }}" {% if secondary_menu == menu_module.module_id %} selected="selected" {% endif %}>{{ text_oxyo_megamenu_prefix }} {{ menu_module.name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<legend class="sub">{{ text_header_static_links }}</legend>

<div class="form-group">
	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_override_static_links }}">{{ entry_override_static_links }}</span></label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][use_custom_links]" class="links-select" value="0" {% if use_custom_links == '0' %} checked="checked" {% endif %}/><span>{{ text_disabled }}</span></label>
		<label><input type="radio" name="settings[oxyo][use_custom_links]" class="links-select" value="1" {% if use_custom_links == '1' %} checked="checked" {% endif %}/><span>{{ text_enabled }}</span></label>
	</div>
</div>

<div class="row" id="custom_links_holder" {% if use_custom_links %} style="display:block" {% else %} style="display:none" {% endif %}>
	<div class="col-sm-2"></div>
	<div class="col-sm-10">
		<table id="links" class="table table-clean">
			<thead>
				<tr>
					<td width="48%">{{ column_link_text }}</td>
					<td width="48%"><span data-toggle="tooltip" title="{{ help_link_target }}">{{ column_link_target }}</span></td>
					<td width="4%">{{ column_link_sort_order }}</td>
				</tr>
			</thead>
			<tbody>
				{% set link_row = 1 %}
				{% for oxyo_link in oxyo_links %}
					<tr id="link-row{{ link_row }}">
						<td class="first">
							{% for language in languages %}
							<div class="input-group">
								<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.language_id }}"/></span>
								<input type="text" class="form-control" name="settings[oxyo][oxyo_links][{{ link_row }}][text][{{ language.language_id }}]" value="{{ oxyo_link.text[language.language_id] ? oxyo_link.text[language.language_id] }}" size="40"/>
							</div>
							{% endfor %}
						</td>
						<td class="first"><input type="text" class="form-control" name="settings[oxyo][oxyo_links][{{ link_row }}][target]" value="{{ oxyo_link.target ? oxyo_link.target }}"/></td>
						<td class="first"><input type="text" class="form-control" style="width:60px" name="settings[oxyo][oxyo_links][{{ link_row }}][sort]" value="{{ oxyo_link.sort ? oxyo_link.sort : '0' }}"/></td>
						<td class="text-end">
							<button type="button" onclick="$('#link-row{{ link_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
						</td>
					</tr>
					{% set link_row = link_row + 1 %}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"></td>
					<td class="text-end">
						<button type="button" onclick="addLinkRow();" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>



<script>
let link_row = {{ link_row }};

function addLinkRow() {
    const tbody = document.querySelector('#links tbody');
    if (!tbody) return;

    let html = '<tr id="link-row' + link_row + '">';
    html += '<td class="first">';
    {% for language in languages %}
        html += '<div class="input-group">';
        html += '<span class="input-group-addon">';
        html += '<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />';
        html += '</span>';
        html += '<input type="text" class="form-control" name="settings[oxyo][oxyo_links][' + link_row + '][text][{{ language.language_id }}]" />';
        html += '</div>';
    {% endfor %}
    html += '</td>';

    html += '<td class="first">';
    html += '<input type="text" class="form-control" name="settings[oxyo][oxyo_links][' + link_row + '][target]" />';
    html += '</td>';

    html += '<td class="first">';
    html += '<input type="text" class="form-control" style="width:60px" value="0" name="settings[oxyo][oxyo_links][' + link_row + '][sort]" />';
    html += '</td>';

    html += '<td class="text-end">';
    html += '<button type="button" class="btn btn-danger" data-toggle="tooltip" title="{{ button_remove }}" onclick="removeLinkRow(' + link_row + ')">';
    html += '<i class="fa fa-minus-circle"></i>';
    html += '</button>';
    html += '</td>';

    html += '</tr>';

    tbody.insertAdjacentHTML('beforeend', html);
    link_row++;
}

function removeLinkRow(id) {
    const row = document.getElementById('link-row' + id);
    if (row) {
        row.remove();
    }
}
</script>

