<legend>{{ heading_breadcrumbs }}</legend>

{# Show full path in breadcrumbs #}
<div class="form-group">
	<div class="col-sm-3">
        <label class="control-label text-right p-0 w-100">
            <span data-toggle="tooltip" title="{{ bc_tooltip_full_path }}">{{ bc_full_path }}</span>
        </label>
    </div>
    <div class="col-sm-9">
        <div class="form-radio-switcher-wrapper justify-content-start">
            <label class="label-switcher label-switcher-pre" for="oxyo_breadcrumbs_full_path_0">{{ text_off }}</label>
            <div class="form-radio form-radio-inline form-radio-switcher">
                <input type="radio" name="settings[oxyo][oxyo_breadcrumbs_full_path]" value="0"{% if oxyo_breadcrumbs_full_path is not defined or oxyo_breadcrumbs_full_path == '0' %} checked="checked"{% endif %} id="oxyo_breadcrumbs_full_path_0" />
                <input type="radio" name="settings[oxyo][oxyo_breadcrumbs_full_path]" value="1"{% if oxyo_breadcrumbs_full_path is defined and oxyo_breadcrumbs_full_path == '1' %} checked="checked"{% endif %} id="oxyo_breadcrumbs_full_path_1" />
            </div>
            <label class="label-switcher label-switcher-post" for="oxyo_breadcrumbs_full_path_1">{{ text_on }}</label>
        </div>
    </div>
</div>

{# Product listing pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'listings', value: oxyo_titles_listings, texts: texts } %}

{# Product pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'product', value: oxyo_titles_product, texts: texts } %}

{# Account pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'account', value: oxyo_titles_account, texts: texts } %}

{# Checkout pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'checkout', value: oxyo_titles_checkout, texts: texts } %}

{# Contact pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'contact', value: oxyo_titles_contact, texts: texts } %}

{# Blog pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'blog', value: oxyo_titles_blog, texts: texts } %}

{# Default/catalog pages #}
{% include 'extension/oxyo/panel_tabs/page-titles_template.twig' with { page: 'default', value: oxyo_titles_default, texts: texts } %}

{# Back button #}
<legend class="hidden d-none">Back button</legend>
<div class="form-group hidden d-none">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Adds a back button in the breadcrumbs">Back button</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][oxyo_back_btn]" value="0" {% if oxyo_back_btn == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][oxyo_back_btn]" value="1" {% if oxyo_back_btn == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>
