<legend>{{ text_tab_shop }}</legend>

<div class="form-field new-form-group radio-switcher">
	<p class="radio-switcher-title">
        <span class="title">{{text_theme_status}}</span>
    </p>
	<div class="form-radio-switcher-wrapper">
		<label class="label-switcher label-switcher-pre" for="theme_default_directory_0">{{ text_off }}</label>
		<div class="form-radio form-radio-inline form-radio-switcher">
            <input type="radio" name="settings[theme_default][theme_default_directory]" value="default" {% if theme_default_directory == 'default' %} checked="checked" {% endif %} id="theme_default_directory_0" />
            <input type="radio" name="settings[theme_default][theme_default_directory]" value="oxyo" {% if theme_default_directory == 'oxyo' %} checked="checked" {% endif %} id="theme_default_directory_1" />
		</div>
		<label class="label-switcher label-switcher-post" for="theme_default_directory_1">{{ text_on }}</label>
	</div>
</div>
<input type="hidden" name="settings[config][config_theme]" value="default" />
<input type="hidden" name="settings[oxyo_version][oxyo_theme_version]" value="1.2.8.0" />

<legend class="sub">{{ text_contacts }}</legend>

{# List of fields (type is optional and can be used in future) #}
{% set contact_fields = [
    { 'key': 'main_phone' },
    { 'key': 'max' },
    { 'key': 'whatsapp' },
    { 'key': 'telegram' },
    { 'key': 'vkontakte' },
    {
        'key': 'callback',
        'type': 'select',
        'options': [
            { 'value': '0', 'text': text_disabled },
            { 'value': '1', 'text': text_callback_popup }
        ]
    },
    { 'key': 'main_email' },
    { 'key': 'main_address' },
    { 'key': 'working_hours' },
    { 'key': 'instagram' },
    { 'key': 'tiktok' },
    { 'key': 'avito' }
] %}

{% for field in contact_fields %}
    {% set key = field.key %}
    {% set type = field.type|default('text') %}

    {# Auto-detected language vars #}
    {% set label = attribute(_context, 'entry_' ~ key)|default(key) %}
    {% set tooltip = attribute(_context, 'entry_' ~ key ~ '_tooltip')|default('') %}
    {% set value = attribute(_context, key)|default('') %}

    <div class="form-group new-form-group">
        <label class="new-title">
            <span class="title">{{ label }}</span>
            {% if tooltip %}
                <i class="bi bi-question-circle-fill" data-toggle="tooltip" title="{{ tooltip }}"></i>
            {% endif %}
        </label>

        {% if type == 'select' %}
            <select class="form-control" name="settings[oxyo][{{ key }}]">
                {% for opt in field.options %}
                    <option value="{{ opt.value }}" {% if value == opt.value %}selected="selected"{% endif %}>{{ opt.text }}</option>
                {% endfor %}
            </select>
        {% else %}
            <input class="form-control" name="settings[oxyo][{{ key }}]" value="{{ value }}"/>
        {% endif %}
    </div>
{% endfor %}