<legend>Shop settings</legend>

<legend class="sub">Contacts</legend>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Main phone</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: +7 (917) 333-22-11"></i>
	</label>
	<input class="form-control" name="settings[oxyo][main_phone]" value="{{ main_phone ? main_phone : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Main email</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: contact@hair.pro"></i>
	</label>
	<input class="form-control" name="settings[oxyo][main_email]" value="{{ main_email ? main_email : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Main address</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: 123456 Moscow, Never sleep, 1"></i>
	</label>
	<input class="form-control" name="settings[oxyo][main_address]" value="{{ main_address ? main_address : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Work hours</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: Ежедневно 10:00 - 20:00"></i>
	</label>
	<input class="form-control" name="settings[oxyo][working_hours]" value="{{ working_hours ? working_hours : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Whatsapp phone</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: +7 (917) 333-22-11"></i>
	</label>
	<input class="form-control" name="settings[oxyo][whatsapp_phone]" value="{{ whatsapp_phone ? whatsapp_phone : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Telegram username</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: durov"></i>
	</label>
	<input class="form-control" name="settings[oxyo][telegram]" value="{{ telegram ? telegram : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">VK Link</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: https://vk.com/durov/"></i>
	</label>
	<input class="form-control" name="settings[oxyo][vkontakte]" value="{{ vkontakte ? vkontakte : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Instagram Link</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: https://www.instagram.com/aviasales/"></i>
	</label>
	<input class="form-control" name="settings[oxyo][instagram]" value="{{ instagram ? instagram : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">TikTok Link</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: https://www.tiktok.com/@aviasales/"></i>
	</label>
	<input class="form-control" name="settings[oxyo][tiktok]" value="{{ tiktok ? tiktok : '' }}"/>
</div>
<div class="form-group new-form-group">
	<label class="new-title">
		<span class="title">Avito Link</span>
		<i class="bi bi-question-circle-fill" data-toggle="tooltip" title="Example: https://www.avito.ru/brands/hairs/"></i>
	</label>
	<input class="form-control" name="settings[oxyo][avito]" value="{{ avito ? avito : '' }}"/>
</div>

<legend class="sub d-none hidden">Catalog Mode</legend>

<div class="form-group d-none hidden">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Disable the product purchase options globally">Catalog Mode</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][catalog_mode]" value="0" {% if catalog_mode == '0' %} checked="checked" {% endif %}/><span>Off</span>
		</label>
		<label><input type="radio" name="settings[oxyo][catalog_mode]" value="1" {% if catalog_mode == '1' %} checked="checked" {% endif %}/><span>On</span>
		</label>
	</div>
</div>

<legend class="sub">Product Quickview</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Enable/Disable the product quickview feature globally">Product quickview Status</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][quickview_status]" value="0" {% if quickview_status == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][quickview_status]" value="1" {% if quickview_status == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>

<legend class="sub">Product Labels</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">Sale label</label>
	<div class="col-sm-10">
		<select name="settings[oxyo][salebadge_status]" class="form-control">
			<option value="0" {% if salebadge_status == '0' %} selected="selected" {% endif %}>Disabled</option>
			<option value="1" {% if salebadge_status == '1' %} selected="selected" {% endif %}>Enabled - Sale Text</option>
			<option value="2" {% if salebadge_status == '2' %} selected="selected" {% endif %}>Enabled - Discount Percentage</option>
		</select>
	</div>
</div>


<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Set how many days to show the new-label on new products. Set it as 0 to disable">New label period</span>
	</label>
	<div class="col-sm-10">
		<input class="form-control" name="settings[oxyo][newlabel_status]" value="{{ newlabel_status ? newlabel_status : '0' }}"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Out of stock label</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][stock_badge_status]" value="0" {% if stock_badge_status == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][stock_badge_status]" value="1" {% if stock_badge_status == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>

<legend class="sub">Specials Countdown</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="View time left on (time limited) special prices. Please note tat the Product groups module has its own setting for this.">Specials countdown status</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][countdown_status]" value="0" {% if countdown_status == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][countdown_status]" value="1" {% if countdown_status == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>

<legend class="sub">Add To Cart</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Action when an item is successfully added to cart">Add to cart action</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<select name="settings[oxyo][oxyo_cart_action]" class="form-control">
			<option value="0" {% if oxyo_cart_action == '0' %} selected="selected" {% endif %}>Stay - Notification message</option>
			<option value="redirect_cart" {% if oxyo_cart_action == 'redirect_cart' %} selected="selected" {% endif %}>Redirect - Shopping cart</option>
			<option value="redirect_checkout" {% if oxyo_cart_action == 'redirect_checkout' %} selected="selected" {% endif %}>Redirect - Checkout</option>
		</select>
	</div>
</div>

<legend class="sub">Wish List</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Enable/Disable the wishlist feature globally">Wish List Status</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][wishlist_status]" value="0" {% if wishlist_status == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][wishlist_status]" value="1" {% if wishlist_status == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Action when an item is successfully added to wish list">Add to wish list action</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<select name="settings[oxyo][oxyo_wishlist_action]" class="form-control">
			<option value="0" {% if oxyo_wishlist_action == '0' %} selected="selected" {% endif %}>Stay - Notification message</option>
			<option value="redirect" {% if oxyo_wishlist_action == 'redirect' %} selected="selected" {% endif %}>Redirect - Wish List Page</option>
		</select>
	</div>
</div>

<legend class="sub">Product Comparison</legend>
<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Enable/Disable the product comparison feature globally">Comparison Status</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<label><input type="radio" name="settings[oxyo][compare_status]" value="0" {% if compare_status == '0' %} checked="checked" {% endif %}/><span>Disabled</span>
		</label>
		<label><input type="radio" name="settings[oxyo][compare_status]" value="1" {% if compare_status == '1' %} checked="checked" {% endif %}/><span>Enabled</span>
		</label>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">
		<span data-toggle="tooltip" title="Action when an item is successfully added to wish list">Add to compare action</span>
	</label>
	<div class="col-sm-10 toggle-btn">
		<select name="settings[oxyo][oxyo_compare_action]" class="form-control">
			<option value="0" {% if oxyo_compare_action == '0' %} selected="selected" {% endif %}>Stay - Notification message</option>
			<option value="redirect" {% if oxyo_compare_action == 'redirect' %} selected="selected" {% endif %}>Redirect - Product Comparison Page</option>
		</select>
	</div>
</div>
