{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">

			<div class="pull-right">
				<button type="submit" form="form-oxyo" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">Save</button>
				<a class="btn btn-default" href="http://oxyo.openthemer.com/help" target="_blank" data-toggle="tooltip" title="View Theme Documentation">Documentation</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger">
				<i class="fa fa-exclamation-circle"></i>
				{{ error_permission }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}

		{% if success %}
			<div class="alert alert-success">
				<i class="fa fa-check-circle"></i>
				{{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}

		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-oxyo" class="form-horizontal">

			<div class="panel-wrapper">

				<div class="panel-left">
					<div class="setting-header">v 1.2.8.0</div>
					<ul class="menu list-unstyled">
                        <li class="active">
                            <a href="#tab-shop" data-toggle="tab"><i class="fa fa-shopping-cart"></i> {{ text_tab_shop }}</a>
                        </li>
                        <li>
                            <a href="#tab-header" data-toggle="tab"><i class="fa fa-columns"></i> {{ text_tab_header }}</a>
                        </li>
                        <li>
                            <a href="#tab-page-titles" data-toggle="tab"><i class="fa fa-chain"></i> {{ text_tab_breadcrumbs }}</a>
                        </li>
                        <li>
                            <a href="#tab-product-pages" data-toggle="tab"><i class="fa fa-clone"></i> {{ text_tab_product_pages }}</a>
                        </li>
                        <li>
                            <a href="#tab-category-pages" data-toggle="tab"><i class="fa fa-th"></i> {{ text_tab_category_pages }}</a>
                        </li>
                        <li>
                            <a href="#tab-contact-page" data-toggle="tab"><i class="fa fa-envelope-o"></i> {{ text_tab_contact_page }}</a>
                        </li>
                        <li>
                            <a href="#tab-footer" data-toggle="tab"><i class="fa fa-gears"></i> {{ text_tab_footer }}</a>
                        </li>
                        <li>
                            <a href="#tab-notifications" data-toggle="tab"><i class="fa fa-comment-o"></i> {{ text_tab_notifications }}</a>
                        </li>
                        <li>
                            <a href="#tab-styles" data-toggle="tab"><i class="fa fa-paint-brush"></i> {{ text_tab_design_colors }}</a>
                        </li>
                        <li>
                            <a href="#tab-typography" data-toggle="tab"><i class="fa fa-font"></i> {{ text_tab_typography }}</a>
                        </li>
                        <li>
                            <a href="#tab-image-sizes" data-toggle="tab"><i class="fa fa-image"></i> {{ text_tab_image_sizes }}</a>
                        </li>
                        <li class="d-none hidden">
                            <a href="#tab-custom-css" data-toggle="tab"><i class="fa fa-css3"></i> {{ text_tab_custom_css }}</a>
                        </li>
                        <li class="d-none hidden">
                            <a href="#tab-custom-javascript" data-toggle="tab"><i class="fa fa-code"></i> {{ text_tab_custom_js }}</a>
                        </li>
                        <li class="d-none hidden">
                            <a href="#tab-one-click-installer" data-toggle="tab"><i class="fa fa-magic"></i> {{ text_tab_one_click }}</a>
                        </li>
					</ul>
				</div>
				<!-- .panel-left ends -->

				<div class="panel-right">
					<div class="store-header">
						<div class="form-group">
							<label class="col-sm-9 control-label">Store to edit:</label>
							<div class="col-sm-3">
								<select name="store_id" class="form-control">
									{% for result in stores %}
										{% if result.store_id == store_id %}
											<option value="{{ result.store_id }}" selected="selected">
												{{ result.name }}
											</option>
										{% else %}
											<option value="{{ result.store_id }}">
												{{ result.name }}
											</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>


					<div class="main-content">

						<div class="tab-content">

							<div class="tab-pane active" id="tab-shop">
								{% include 'extension/oxyo/panel_tabs/shop.twig' %}
							</div>

							<div class="tab-pane" id="tab-header">
								{% include 'extension/oxyo/panel_tabs/header.twig' %}
							</div>

							<div class="tab-pane" id="tab-page-titles">
								{% include 'extension/oxyo/panel_tabs/page-titles.twig' %}
							</div>

							<div class="tab-pane" id="tab-product-pages">
								{% include 'extension/oxyo/panel_tabs/product-pages.twig' %}
							</div>

							<div class="tab-pane" id="tab-category-pages">
								{% include 'extension/oxyo/panel_tabs/category-pages.twig' %}
							</div>

							<div class="tab-pane" id="tab-contact-page">
								{% include 'extension/oxyo/panel_tabs/contact-page.twig' %}
							</div>

							<div class="tab-pane" id="tab-footer">
								{% include 'extension/oxyo/panel_tabs/footer.twig' %}
							</div>

							<div class="tab-pane" id="tab-notifications">
								{% include 'extension/oxyo/panel_tabs/notifications.twig' %}
							</div>

							<div class="tab-pane" id="tab-styles">
								{% include 'extension/oxyo/panel_tabs/styles.twig' %}
							</div>

							<div class="tab-pane" id="tab-typography">
								{% include 'extension/oxyo/panel_tabs/typography.twig' %}
							</div>

							<div class="tab-pane" id="tab-image-sizes">
								{% include 'extension/oxyo/panel_tabs/image-sizes.twig' %}
							</div>

							<div class="tab-pane" id="tab-custom-css">
								{% include 'extension/oxyo/panel_tabs/custom-css.twig' %}
							</div>

							<div class="tab-pane" id="tab-custom-javascript">
								{% include 'extension/oxyo/panel_tabs/custom-javascript.twig' %}
							</div>

							<div class="tab-pane d-none hidden" id="tab-one-click-installer">
								{% include 'extension/oxyo/panel_tabs/one-click-installer.twig' %}
							</div>

						</div>

					</div>
					<!-- .main-content ends -->

				</div>
				<!-- panel-right ends -->

			</div>
		</form>
	</div>
	<!-- content ends -->



    <script type="text/javascript">
        // Store selector
        $('select[name="store_id"]').on('change', function () {
            location = 'index.php?route=extension/oxyo/oxyo&user_token={{ token }}&store_id=' + encodeURIComponent($(this).val());
        });
    </script>

    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

    <script type="text/javascript">
        // Header preview image
        $('#header-select').on('change', function () {
            $('#header-preview img').attr('src', 'view/javascript/oxyo/img/theme-panel/headers/' + $(this).val() + '.png');
        });

        // Always open first tab
        $('.nav-tabs').each(function () {
            $(this).find('li:first a').tab('show');
        });

        // Toggle visibility blocks
        const toggles = [
            { selector: '.links-select', target: '#custom_links_holder' },
            { selector: '.design-select', target: '#custom_design_holder' },
            { selector: '.typo-select', target: '#oxyo_typo_holder' },
            { selector: '.footer-custom-links-select', target: '#custom_footer_links_holder' },
            { selector: '.custom-css-select', target: '#custom_css_holder' },
            { selector: '.custom-js-select', target: '#custom_js_holder' }
        ];

        toggles.forEach(toggle => {
            $(toggle.selector).on('change', function () {
                $(toggle.target).css('display', $(this).val() == '1' ? 'block' : 'none');
            });
        });

        // Colorpicker
        $('.colorfield input').colorpicker({
            sliders: {
                saturation: { maxLeft: 150, maxTop: 150 },
                hue: { maxTop: 150 },
                alpha: { maxTop: 150 }
            }
        }).on('changeColor.colorpicker', function () {
            $(this).parent().find('.input-group-addon i').css("background-color", $(this).val());
        });

        // Summernote enable/disable editor
        var enable_editor = function (area, lang_id) {
            const editorToggle = $('#enable-editor-' + area + '-' + lang_id);
            const textarea = $('#editor-textarea-' + area + '-' + lang_id);

            if (editorToggle.hasClass('active')) {
                editorToggle.text('{{ text_enable_editor }}').removeClass('active');
                textarea.summernote('destroy');
            } else {
                editorToggle.text('{{ text_disable_editor }}').addClass('active');
                textarea.summernote({
                    disableDragAndDrop: true,
                    styleWithSpan: false,
                    height: 260,
                    emptyPara: '',
                    codemirror: {
                        mode: 'text/html',
                        htmlMode: true,
                        lineNumbers: true,
                        theme: 'monokai'
                    },
                    fontsize: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '24', '30', '36', '48', '64'],
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['underline', 'italic', 'bold', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['paragraph']],
                        ['insert', ['link', 'image']],
                        ['view', ['fullscreen', 'codeview']]
                    ],
                    callbacks: {
                        onPaste: function (e) {
                            const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                            e.preventDefault();
                            document.execCommand('insertText', false, bufferText);
                        }
                    },
                    popover: {
                        image: [
                            ['custom', ['imageAttributes']],
                            ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                            ['float', ['floatLeft', 'floatRight', 'floatNone']],
                            ['remove', ['removeMedia']]
                        ]
                    },
                    buttons: {
                        image: function () {
                            var ui = $.summernote.ui;
                            var button = ui.button({
                                contents: '<i class="fa fa-image" />',
                                tooltip: $.summernote.lang[$.summernote.options.lang].image.image,
                                click: function () {
                                    $('#modal-image').remove();
                                    $.ajax({
                                        url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token'),
                                        dataType: 'html',
                                        beforeSend: function () {
                                            $('#button-image i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
                                            $('#button-image').prop('disabled', true);
                                        },
                                        complete: function () {
                                            $('#button-image i').replaceWith('<i class="fa fa-upload"></i>');
                                            $('#button-image').prop('disabled', false);
                                        },
                                        success: function (html) {
                                            $('body').append('<div id="modal-image" class="modal">' + html + '</div>');
                                            $('#modal-image').modal('show');
                                            $('#modal-image').delegate('a.thumbnail', 'click', function (e) {
                                                e.preventDefault();
                                                textarea.summernote('insertImage', $(this).attr('href'));
                                                $('#modal-image').modal('hide');
                                            });
                                        }
                                    });
                                }
                            });
                            return button.render();
                        }
                    }
                });
            }
        };
    </script>
</div>
{{ footer }}
