{% if full_width %}
</div>
{% endif %}
<div class="widget" style="margin-bottom:{{ margin_bottom }};">
    <!-- .widget starts -->
	<div id="master_slider{{ module }}" class="master-slider widget {{ nav_buttons }}" style="min-height:{{ min_height }}px">
		{% for section in sections %}
			{% if section.sort_order > 0 %}
				<div class="ms-slide{% if section.slide_kenburns is defined %} kenburns {{ section.slide_kenburns }}{% endif %}" data-delay="{{ section.duration }}" {% if section.style %} style="{{ section.style }}"{% endif %}>
					{% if section.is_bg %}
						<img src="{{ section.thumb_image }}" data-src="{{ section.thumb_image }}" class="slide-bg" alt="">
					{% endif %}

                    <!-- foreach groups start -->
					{% for key, group in section.groups %}
						{% if group.type == 'text' %}
							<!-- Text layer -->
							<div class="ms-layer ms-caption" style="{{ group.group_style }} {{ group.customcss }};"
								{{ group.group_attributes|raw }}>
								{{ group.description }}
							</div>
                            <!-- Text layer ends -->
						{% endif %}

						{% if group.type == 'image' %}
							<!-- Image layer -->
							<img src="{{ group.image }}" alt="" data-src="{{ group.image }}" class="ms-layer image"
								{% if group.min_height is defined %} style="min-height:{{ group.min_height }}px" {% endif %}
								{{ group.group_attributes|raw }} />
                            <!-- Image layer ends -->
						{% endif %}

						{% if group.type == 'button' %}
							<!-- Button layer -->
							<a class="ms-layer ms-btn {{ group.button_class }}{% if group.button_target %} external{% endif %}" href="{{ group.button_href }}" style="white-space:nowrap;"
								{{ group.group_attributes|raw }}>
								<span>{{ group.description }}</span>
							</a>
                            <!-- Button layer ends -->
						{% endif %}
					{% endfor %}
                    <!-- foreach groups ends -->

					{% if section.link %}
						<a href="{{ section.link }}" class="ls-link {% if section.link_new_window %} external{% endif %}"></a>
					{% endif %}
				</div><!-- .ls-slide ends -->
			{% endif %}
		{% endfor %}<!-- foreach sections ends -->
	</div><!-- id master_slider ends -->
</div><!-- .widget -->

<script>
	$(document).ready(function(){
		var slider = new MasterSlider();
		slider.setup('master_slider{{ module }}' , {
			width:{{ width }},
			height:{{ height }},
			min_height:{{ min_height }},
			layout:"fillwidth",
			grabCursor:false,
			centerControls:false,
				autoplay:{% if active_slides_count > 1 %}true{% else %}false{% endif %},
				hideLayers:{% if active_slides_count > 1 %}true{% else %}false{% endif %},
			instantStartLayers:true,
			overPause:false,
			{% if loop %}loop:true,{% endif %}
			speed:{{ speed }}{% if slide_transition and slide_transition != 'none' %},
			view:"{{ slide_transition }}"{% endif %}
		});
		{% if nav_buttons %}slider.control('arrows' , {autohide:false});{% endif %}
		{% if nav_bullets %}slider.control('bullets' , {autohide:false});{% endif %}
		{% if nav_timer_bar %}slider.control('timebar' , {width:5});{% endif %}
		setTimeout("$('body').addClass('ms_ready');", 400);
	});
</script>

{% if full_width %}
	<div class="container">
{% endif %}
