<div class="header-wrapper header3 fixed-header-possible">
	{% if top_line_style %}
		<div class="top_line">
			<div class="container {{ top_line_width }}">
				<div class="table">
					<div class="table-cell left sm-text-center xs-text-center">
						<div class="promo-message">{{ promo_message }}</div>
					</div>
					<div class="table-cell text-end hidden-xs hidden-sm">
						<div class="links">
							<ul>
								{% include 'oxyo/template/common/static_links.twig' %}
							</ul>
							{% if lang_curr_title %}
								<div class="setting-ul">
									<div class="setting-li dropdown-wrapper from-left lang-curr-trigger nowrap">
										<a>
											<span>{{ lang_curr_title }}</span>
										</a>
										<div class="dropdown-content dropdown-right lang-curr-wrapper">
											{{ language }}
											{{ currency }}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- .table ends -->
			</div>
			<!-- .container ends -->
		</div>
		<!-- .top_line ends -->
	{% endif %}
	<div class="outer-container sticky-header">
		<div class="header-style">
			<div class="container {{ main_header_width }}">
				<div class="row header-main">
					<div class="col-4 menu-cell">
						<div class="font-zero">
							<div class="icon-element d-xxl-none d-xl-none p-0">
								<a class="shortcut-wrapper menu-trigger">
									<svg class="ham hamRotate ham1" viewbox="0 0 100 100" width="40px" height="40px">
										<path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"/>
										<path class="line middle" d="m 30,50 h 40"/>
										<path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"/>
									</svg>
								</a>
							</div>
							{% if main_phone is defined and main_phone and main_phone_header %}
								<div class="icon-element">
									<a href="{{ main_phone_link }}" class="shortcut-wrapper" target="_blank">
										<i class="bi bi-telephone"></i>
										<span class="nowrap d-none">{{ main_phone }}</span>
									</a>
								</div>
							{% endif %}
                            {% if whatsapp_phone is defined and whatsapp_phone and whatsapp_phone_header %}
                                <div class="icon-element">
                                    <a href="https://wa.me/{{ whatsapp_phone_link }}" class="shortcut-wrapper" target="_blank">
                                        <i class="bi bi-whatsapp"></i>
                                        <span class="nowrap d-none">{{ whatsapp_phone }}</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if telegram is defined and telegram and telegram_header %}
                                <div class="icon-element d-none d-lg-block">
                                    <a href="https://t.me/{{ telegram_link }}" class="shortcut-wrapper" target="_blank">
                                        <i class="bi bi-telegram"></i>
                                        <span class="nowrap d-none">{{ telegram }}</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if vkontakte is defined and vkontakte and vkontakte_header %}
                                <div class="icon-element d-none d-md-block">
                                    <a href="https://vk.com/{{ vkontakte_link }}" class="shortcut-wrapper" target="_blank">
                                        {{ vkontakte_icon }}
                                        <span class="nowrap d-none">{{ vkontakte }}</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if callback is defined and callback and callback_header %}
                                <div class="icon-element callback_action d-none d-md-flex animate-text animate-splash">
                                    <a href="{{ callback_link }}" class="shortcut-wrapper" onclick="callBackShow(event);">
                                        {{ callback_icon_svg }}
                                    </a>
                                    <a href="#" onclick="callBackShow(event);" class="nowrap d-none d-xl-block animate-content">{{ callback_text }}</a>
                                </div>
                            {% endif %}
						</div>
					</div>
					<div class="col-4 logo text-center">
						{% if logo %}
							<div id="logo">
								<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
							</div>
						{% endif %}
					</div>
					<div class="col-4 shortcuts text-end">
						<div class="font-zero justify-content-end">
							{% if header_search %}
								<div class="icon-element d-none d-xl-block">
									<div class="dropdown-wrapper-click from-top hidden-sx hidden-sm hidden-xs">
										<a class="shortcut-wrapper search-trigger from-top clicker">
											<i class="icon-magnifier icon"></i>
										</a>
										<div class="dropdown-content dropdown-right">
											<div class="search-dropdown-holder">
												<div class="search-holder">
													{{ oxyo_search }}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
							{% if header_login %}
								<div class="icon-element is_account">
									<a class="shortcut-wrapper" href="{{ account }}">
										<i class="icon-user icon"></i>
									</a>
								</div>
							{% endif %}
							<div class="icon-element is_wishlist">
								<a class="shortcut-wrapper wishlist" href="{{ wishlist }}">
									<div class="wishlist-hover">
										<i class="icon-heart icon"></i>
										<span class="counter wishlist-counter">{{ wishlist_counter }}</span>
									</div>
								</a>
							</div>
							<div class="icon-element catalog_hide">
								<div id="cart" class="dropdown-wrapper from-top">
									<a href="{{ shopping_cart }}" class="shortcut-wrapper cart">
										<i id="cart-icon" class="global-cart icon"></i>
										<span id="cart-total" class="nowrap text-block">
											<span class="counter cart-total-items">{{ cart_items }}</span>
											<span class="slash d-none d-xl-block">/</span>
											<span class="cart-total-amount d-none d-xl-block">{{ cart_amount }}</span>
										</span>
									</a>
									<div class="dropdown-content dropdown-right hidden-sm hidden-xs">{{ cart }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .table.header_main ends -->
			</div>
			<!-- .container ends -->
		</div>
		{% if primary_menu %}
			<div class="outer-container menu-style menu-style-contrast d-none d-xl-block">
				<div class="container">
					<div class="main-menu text-center">
						<ul class="categories">
							{% if primary_menu == 'oc' %}
								<!-- Default menu -->
								{{ default_menu }}
							{% elseif primary_menu is defined %}
								<!-- Mega menu -->
								{% for key, row in primary_menu_desktop %}
									{% include 'oxyo/template/common/menus/mega_menu.twig' %}
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="outer-container sticky-holder"></div>
</div>
<!-- .header_wrapper ends -->
